
<div class="contenedorlogin">

    <div class="logo">
        <img src="https://app.upsjb.edu.pe/static/requerimiento/UPSJB-Logo-1.png" alt="">
    </div>

    <div class="titulo">
        <h2><span>PORTAL DOA</span><br>REPROGRAMACIÓN DE CLASES</h2>
    </div>

    <div class="mensaje">
        <h2>PARECE QUE SU CUENTA NO ESTÁ ACTIVA PARA USAR ESTA APLICACIÓN</h2>
    </div>

    <div class="footer">
        <a href="https://app.upsjb.edu.pe/static/requerimiento/SIS-PR-22-procedimiento-para-el-desarrollo-de-aplicaciones-v-3.0.pdf" class="vinculo"><p>Desarrollado por la Dirección de Sistemas de Información</p></a>
        <p>© UPSJB - Versión 1.0</p>
    </div>

    <div class="fondo-color"></div>

</div>
