

header {
    width: 100%;
    height: 6rem;
    background-color: #FF0A41;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5rem;
    z-index: 10000;
}


/*  TITULO  */


.titulo {
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 2rem;
}

.logo {
    height: 100%;
    width: 16rem;
    /* background-color: red; */
    padding: 0rem 0rem 0rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo img {
    width: 100%;
}

.separador {
    height: 30px;
    width: 2px;
    background-color: white;
}

.titulo h2 {
    color: white;
    font-size: 2rem;
    font-family: 'agenda-light-regular';
    text-transform: uppercase;
}


/*  USUARIO  */



.usuario {
    height: 6rem;
    width: auto;
    padding: 0 2rem;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    text-transform: uppercase;
    gap: 1.5rem;
    /* border-left: 1px solid #E3E3E3; */
    /* background-color: #EFEFEF; */
}

.usuario .cuenta {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.usuario .perfil {
    color: white;
    font-size: 1.5rem;
    width: auto;
}

.usuario .perfil:first-child {
    font-family: 'agenda-medium';
    font-size: 1.6rem;
    text-transform: uppercase;
    line-height: .9;
}

.usuario .perfil:last-child {
    font-family: 'agenda-light-regular';
    text-transform: lowercase;
}


.boton-salir {
    height: 3rem;
    width: 8rem;
    background-color: #E3E3E3;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-transform: capitalize;
}