<!-- 
<div class="spinner" *ngIf="isLoading">
    <mat-spinner diameter="50" color="primary" mode="indeterminate"></mat-spinner>
</div> -->


<div class="loading" *ngIf="loading">
    <h2>Espere...</h2>
</div>


<div class="contenedor">

    <h2>REPROGRAMACIÓN DE CLASES</h2>

    <div class="calendario-contenedor">

        <div class="calendario">
            <full-calendar [options]="calendarOptions">     <!-- (eventDrop)="handleEventDrop($event)" -->
                <div class="mensaje">Nuevo</div>
            </full-calendar>
        </div>

        <div class="contenedor-opciones">

            <div class="leyenda">
                <h3>Leyenda:</h3>
                <p>Clase</p>
                <p>Clase Reprogramada</p>
            </div>

            <select class="campo-grado" [(ngModel)]="tablaGrado">
                <option value="" disabled selected>Seleccione</option>

                @for (item of listaSemestre; track $index) {
                    <option value="{{item.codigoGrado}}|{{item.codigoSemestre}}">{{item.grado}}</option>
                }

            </select>

            <div class="boton-grado" (click)="consultarHorarioDocente()">
                <p>Buscar</p>
            </div>

        </div>

    </div>

</div>


<div class="popup" *ngIf="popup">

    <div class="popup-formulario" *ngIf="popupFormulario">

        <div class="popup-header">

            <div class="popup-titulo">
                <ng-icon name="featherCalendar" />
                <h3>{{popupFormularioAsignatura}} ({{popupFormularioPrograma}})</h3>
            </div>

            <div class="popup-cerrar" (click)="mostrarFormulario(0, null)">
                <ng-icon name="featherXCircle" />
            </div>

        </div>

        <div class="campos-contenedor">
            

            <div class="campos-grid">

                <div class="campo-contenedor-grid">ID Curso:            <span>{{popupFormularioCursoID}}</span></div>
                <div class="campo-contenedor-grid">N° Clase:            <span>{{popupFormularioNumeroClase}}</span></div>
                <div class="campo-contenedor-grid">N° Campus:           <span>{{popupFormularioNumeroCampusMTG}}</span></div>
                <div class="campo-contenedor-grid">Sesión:              <span>{{popupFormularioCodigoSeccion}}</span></div>
                <div class="campo-contenedor-grid">Modelo de clase:     <span>{{popupFormularioModelo}}</span></div>
                <div class="campo-contenedor-grid">Ambiente:            <span>{{popupFormularioAmbienteID}}</span></div>
                <div class="campo-contenedor-grid">Alumnos Matriculados:<span>{{popupFormularioCantidadAlumnos}}</span></div>
                <div class="campo-contenedor-grid"></div>
                <div class="campo-contenedor-grid">Fecha:               <span>{{popupFormularioFecha | date: 'dd-MM-yyyy'}}</span></div>
                <div class="campo-contenedor-grid">Hora Inicio:         <span>{{formatearHora(popupFormularioHoraI)}}</span></div>
                <div class="campo-contenedor-grid">Hora Fin:            <span>{{formatearHora(popupFormularioHoraF)}}</span></div>
                <div class="campo-contenedor-grid">Tiempo:              <span>1 hora 30 minutos</span></div>

            </div>

            <div class="campos-grid">

                <div class="campo-contenedor-grid">

                    <label for="" class="label label-obligatorio">Componente</label>

                    <div class="campo">

                        <input type="text" disabled="true" [(ngModel)]="popupFormularioComponenteDesc">

                    </div>

                </div>

                <div class="campo-contenedor-grid">

                    <label for="" class="label label-obligatorio">Tipo de Ambiente</label>

                    <div class="campo">

                        <input type="text" disabled="true" [(ngModel)]="popupFormularioTipoAmb">

                    </div>

                </div>

                <div class="campo-contenedor-grid">

                    <label for="" class="label label-obligatorio">Fecha</label>

                    <div class="campo">

                        <input type="date" [(ngModel)]="popupFormularioNuevaFecha" (change)="detectarCambioFechaHora($event)" [min]="minDate" [max]="maxDate" />

                    </div>

                </div>

                <div class="campo-contenedor-grid">

                    <div class="" style="display: flex; flex-direction: row; gap: 2rem">

                        <div class="campo-contenedor campo-contenedor-30">

                            <label for="" class="label label-obligatorio">Inicio</label>

                            <div class="campo">

                                <select [(ngModel)]="popupFormularioNuevaHoraI" (change)="detectarCambioHoraInicio($event)">

                                    <option value="" disabled selected>HH:MM</option>
                                    
                                    @for (item of listaTablaHoraria; track $index) {
                                        <option [value]="item.horA_INICIO">{{ item.horA_INICIO }}</option>
                                    }

                                </select>

                            </div>

                        </div>

                        <div class="campo-contenedor campo-contenedor-30">

                            <label for="" class="label label-obligatorio">Fin</label>

                            <div class="campo">

                                <select [(ngModel)]="popupFormularioNuevaHoraF" (change)="detectarCambioHoraInicio($event)">

                                    <option value="" disabled selected>HH:MM</option>

                                    @for (item of listaTablaHoraria; track $index) {
                                        <option [value]="item.horA_FIN" [disabled]="horaFinValida !== item.horA_FIN">{{ item.horA_FIN }}</option>
                                    }

                                </select>

                            </div>

                        </div>

                        <div class="campo-contenedor campo-contenedor-20">

                            <div class="boton boton-color-1 boton-buscar" (click)="this.buscarAmbientesDisponibles()">

                                <ng-icon name="featherSearch" />
                                
                            </div>

                        </div>

                    </div>

                </div>

            </div>

            <div class="campos-grid">

                <div class="campo-contenedor-grid"></div>

                <div class="campo-contenedor-grid">

                    <label for="" class="label label-obligatorio">Ambiente</label>

                    <div class="campo">

                        <select [(ngModel)]="popupFormularioNuevoAmbienteID">

                            <option value="" disabled [selected]>Seleccione</option>

                            @for (item of listaAmbientesDisponibles; track $index) {
                                <option value="{{item.descr}}">{{item.descr}} ({{item.rooM_CAPACITY}})</option>
                            }

                        </select>

                    </div>

                </div>

                <div class="campo-contenedor-grid">

                    <label for="" class="label label-obligatorio">Motivo de Reprogramación</label>

                    <div class="campo">

                        <select [(ngModel)]="popupFormularioNuevoMotivo">
                            <option value="" disabled [selected]>Seleccione</option>
                            <option value="Causas externas">Causas externas</option>
                            <option value="Causas institucionales">Causas institucionales</option>
                            <option value="Solicitud de docente">Solicitud de docente</option>
                        </select>

                    </div>

                </div>

            </div>

            <!-- <div class="tabla-registro-contenedor">

                <table class="tabla-registro">

                    <thead>

                        <tr>
                            <th>Clase</th>
                            <th>Componente</th>
                            <th>Tipo de Ambiente</th>
                            <th>Fecha</th>
                            <th>Ambiente</th>
                            <th>Motivo</th>
                            <th>Acción</th>
                        </tr>

                    </thead>

                    <tbody>

                        @for (item of listaTablaRegistro; track $index) {

                        <tr>
                            <td>{{item.clase}}</td>
                            <td>{{item.componente}}</td>
                            <td>{{item.tipoAmbiente}}</td>
                            <td>{{item.fecha}}</td>
                            <td>{{item.ambiente}}</td>
                            <td>{{item.motivo}}</td>
                            <td>⋮</td>
                        </tr>

                        }

                    </tbody>

                </table>

            </div> -->

            <div class="botones botones-ctr">

                <div class="boton boton-color-1" (click)="enviarSolicitud()">
                    <p>Enviar Solicitud</p>
                </div>

            </div>

        </div>

    </div>

    <div class="popup-tabla-horarios" *ngIf="popupTablaHorarios">

        <div class="popup-header">

            <div class="popup-titulo">
                <ng-icon name="featherCalendar" />
                <h3>Tabla Horaria</h3>
            </div>

            <div class="popup-cerrar" (click)="mostrarTablaHorarios(0)">
                <ng-icon name="featherXCircle" />
            </div>

        </div>

        <div class="campos-contenedor">

            <table class="tabla-horarios">

                <thead>
                    <tr>
                        <th>Hora Inicio</th>
                        <th>Hora Fin</th>
                        <th>Estado</th>
                    </tr>
                </thead>

                <tbody>

                    @for (item of listaTablaHoraria; track $index) {

                    <tr>
                        <td>{{item.horA_INICIO}}</td>
                        <td>{{item.horA_FIN}}</td>
                        <td>
                            <p [ngClass]="item.tipO_HORARIO == 'REGULAR' ? 'tabla-horarios-regular' : 'tabla-horarios-descanso' ">{{item.tipO_HORARIO}}</p>
                        </td>
                    </tr>

                    }

                </tbody>

            </table>


            <!--
            <table class="tabla-horarios">

                <thead>
                    <tr>
                        <th>Hora Inicio</th>
                        <th>Hora Fin</th>
                        <th>Estado</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>07:00</td>
                        <td>07:45</td>
                        <td>
                            <p style="background-color: rgb(0, 255, 128);">Disponible</p>
                        </td>
                    </tr>
                    <tr>
                        <td>07:45</td>
                        <td>08:30</td>
                        <td>
                            <p style="background-color: rgb(255, 75, 75);">Ocupado</p>
                        </td>
                    </tr>
                    <tr>
                        <td>08:30</td>
                        <td>09:15</td>
                        <td>
                            <p style="background-color: rgb(255, 75, 75);">Ocupado</p>
                        </td>
                    </tr>
                    <tr>
                        <td>09:15</td>
                        <td>10:00</td>
                        <td>
                            <p style="background-color: rgb(255, 75, 75);">Ocupado</p>
                        </td>
                    </tr>
                    <tr>
                        <td>10:00</td>
                        <td>10:45</td>
                        <td>
                            <p style="background-color: rgb(0, 255, 128);">Disponible</p>
                        </td>
                    </tr>
                    <tr>
                        <td>10:45</td>
                        <td>11:30</td>
                        <td>
                            <p style="background-color: rgb(0, 255, 128);">Disponible</p>
                        </td>
                    </tr>
                    <tr>
                        <td>11:30</td>
                        <td>12:15</td>
                        <td>
                            <p style="background-color: rgb(255, 75, 75);">Ocupado</p>
                        </td>
                    </tr>
                    <tr>
                        <td>12:15</td>
                        <td>13:00</td>
                        <td>
                            <p style="background-color: rgb(0, 255, 128);">Disponible</p>
                        </td>
                    </tr>
                    <tr>
                        <td>13:00</td>
                        <td>13:45</td>
                        <td>
                            <p style="background-color: rgb(0, 255, 128);">Disponible</p>
                        </td>
                    </tr>
                    <tr>
                        <td>13:45</td>
                        <td>14:30</td>
                        <td>
                            <p style="background-color: rgb(0, 255, 128);">Disponible</p>
                        </td>
                    </tr>
                    <tr>
                        <td>14:30</td>
                        <td>15:15</td>
                        <td>
                            <p style="background-color: rgb(0, 255, 128);">Disponible</p>
                        </td>
                    </tr>
                    <tr>
                        <td>15:15</td>
                        <td>16:00</td>
                        <td>
                            <p style="background-color: rgb(0, 255, 128);">Disponible</p>
                        </td>
                    </tr>
                    <tr>
                        <td>16:00</td>
                        <td>16:45</td>
                        <td>
                            <p style="background-color: rgb(255, 75, 75);">Ocupado</p>
                        </td>
                    </tr>
                    <tr>
                        <td>16:45</td>
                        <td>17:30</td>
                        <td>
                            <p style="background-color: rgb(255, 75, 75);">Ocupado</p>
                        </td>
                    </tr>
                    <tr>
                        <td>17:30</td>
                        <td>18:15</td>
                        <td>
                            <p style="background-color: rgb(0, 255, 128);">Disponible</p>
                        </td>
                    </tr>
                    <tr>
                        <td>18:15</td>
                        <td>19:00</td>
                        <td>
                            <p style="background-color: rgb(0, 255, 128);">Disponible</p>
                        </td>
                    </tr>
                    <tr>
                        <td>19:00</td>
                        <td>19:45</td>
                        <td>
                            <p style="background-color: rgb(0, 255, 128);">Disponible</p>
                        </td>
                    </tr>
                    <tr>
                        <td>19:45</td>
                        <td>20:30</td>
                        <td>
                            <p style="background-color: rgb(0, 255, 128);">Disponible</p>
                        </td>
                    </tr>
                    <tr>
                        <td>20:30</td>
                        <td>21:15</td>
                        <td>
                            <p style="background-color: rgb(0, 255, 128);">Disponible</p>
                        </td>
                    </tr>
                    <tr>
                        <td>21:15</td>
                        <td>22:00</td>
                        <td>
                            <p style="background-color: rgb(0, 255, 128);">Disponible</p>
                        </td>
                    </tr>
                    <tr>
                        <td>22:00</td>
                        <td>22:45</td>
                        <td>
                            <p style="background-color: rgb(255, 75, 75);">Ocupado</p>
                        </td>
                    </tr>
                    <tr>
                        <td>22:45</td>
                        <td>23:30</td>
                        <td>
                            <p style="background-color: rgb(255, 75, 75);">Ocupado</p>
                        </td>
                    </tr>

                </tbody>

            </table>
            -->


        </div>

    </div>

</div>


<p-toast position="top-right"></p-toast>