<section class="upsjb-section">

    <div class="upsjb-container">

        <div class="upsjb-wrapper">

            <div class="upsjb-box">

                <!-- Panel izquierdo -->

                <div class="upsjb-left-panel">

                    <div class="upsjb-header">
                        <h5>Intranet - San Juan en Línea</h5>
                    </div>

                    <div class="upsjb-body">

                        <img src="assets/img/logos/upsjb-logo-3.png" alt="logo" class="upsjb-logo" />

                        <p class="upsjb-t1"><span>Ingresa a tu cuenta</span></p>

                        <div class="upsjb-login">
                            <button class="btn-upsjb-login" (click)="login()">
                                <span class="defaultProviderIcon"></span>
                                Inicia sesión con Office 365
                            </button>
                        </div>

                        <p class="upsjb-restore-pass">
                            <a class="upsjb-enlace" href="https://passwordreset.microsoftonline.com/Default.aspx">Olvidé
                                mi contraseña</a>
                        </p>

                        <p>
                            <a class="btn-upsjb rounded-pill"
                                href="https://passwordreset.microsoftonline.com/Default.aspx">Conoce tu usuario</a>
                        </p>

                    </div>

                    <div class="upsjb-footer">
                        <a href="https://transparencia.upsjb.edu.pe/" target="_blank">Transparencia</a>
                        <a href="https://campus.upsjb.edu.pe/cs92prd/signon.html" target="_blank">Campus UPSJB</a>
                        <a href="https://landing.upsjb.edu.pe/canales-de-atenci%C3%B3n" target="_blank">Ayuda</a>
                    </div>

                </div>

                <!-- Panel derecho (carrusel) -->

                <div class="upsjb-right-panel">

                    <div class="carousel-container">

                        <div class="carousel-slide active">

                            <a href="https://www.upsjb.edu.pe/centro-de-idiomas/" target="_blank">
                                <img src="assets/img/imagenes/centro-de-idiomas-imagen.png" alt="Centro de idiomas" />
                            </a>

                        </div>

                        <!-- Agrega más slides aquí si deseas -->
                    </div>

                </div>

            </div>

        </div>

    </div>

</section>